@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --cabecalho: #6E4515;
  --buttons: #F7A72D;
  --color-green: #39A804;
  --color-red: #F11515;
  --text-color: #6E4515;
  --backgroud: #F5D4AB;
};

@layer base {
  html {
      @apply bg-fundo;
  }
};
